{% extends 'include/layout.html' %}

{% block content %}

<html>
    <div class="checkout-container">
        <head>
            <title>Checkout Page</title>
        </head>
        <body>
            <br>
            <div class= "halves-container">
                <div class= "div-left-half">
                    <p style= "color: #4D6B3B;">Testing</p>
                </div>

                <div class= "div-right-half">
                    <p style= "color: white;">Testing</p>
                </div>
            </div>
        </body>
    </div>

    <style>
        .halves-container
        {
            display: flex;
        }

        .div-right-half
        {
            background-color: #4D6B3B;
            width: 50%;
            height: 100%;
        }
        
        .div-left-half
        {
            width: 50%;
            height: 100%;
        }
    </style>

{% endblock %}
