{% include "include/layout.html" %}

{% block content %}

<html>
<main class="confirm-container">
        <div class="confirm-card">
            <h1>Message submitted successfully!</h1>
            
            <div class="confirm-text">
                <p>Thank you for reaching out to us.</p>
                <p>We'll review your submission and get back to you shortly.</p>
            </div>

            <a href="{{ url_for('views.browsePage') }}" class="browse-btn">Browse Plants</a>
        </div>
</main>
</html>

{% endblock %}
